<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="DBTeste"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\EstudoC#\Exercícios\SistemaCompleto\CamadaDeConexao\ProjetoDataBase.mdf;Integrated Security=True"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>